body {
    background-image: url("../image/lizard.png");
}

.coloresHexadecimales {
    font-size: 20px;
    border: 2px solid;
    background-color: #909faf;
}

.coloresRGB {
    font-size: 20px;
    border: 2px solid;
    background-color: rgba(42, 190, 158, 0.65);
    padding: 2em;
}

.coloresXNombre {
    font-size: 20px;
    border: 2px solid;
    background-color: lightsalmon;
    margin: 2em;
}